<header class="header">ブログ一覧</header>
<p><%= notice %></p>
<div class="topic">
  <ul>
    <li class="col-md-12"><%= link_to '新しくブログを投稿する', new_blog_path %></li>
  </ul>
</div>
  <% @blogs.each do |blog| %>
  <article>
    <div class="contents">
      <ul>
        <li class="col-sm-12 col-md-offset-4 col-md-4">
          <p>ータイトルー</p>
          <h4><%= blog.title %></h4>
          <p>ー内容ー</p>
        <p><%= blog.content %></p>
        <br>
        <p><%= link_to '詳細を確認する', blog_path(blog.id) %></p>
        <p><%= link_to "ブログを編集する", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></p>
        <p><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></p>
      </li>
      </ul>
    </div>
    <% end %>
  </article>
